body {
    background-color: #111;
    margin: 0px;
}

head {
    margin: 0px;
}

h1 {
    font-size: 52px;
}
p {
    font-size: 25px;
    color: #ddd;
}

.main {
    color: #fff;
    text-align: center;
}


/* Add a black background color to the top navigation */
.navbar {
    background-color: #222;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #ff5100;
    color: white;
  }