main {
    max-width: 1000.727px;
    margin: 0 auto;
}

main.blog {
    padding: 0 .5rem;
    display: grid;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
    
    a {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-decoration: none;
        background-color: var(--bg-lighter);
        box-shadow: 0 2px 2px 0 var(--shadow);
        border-radius: var(--rounding);
        padding: .8rem 1rem;

        * {
            margin: 0;
        }

        h2 {
            font-size: 1.4rem;
        }
        
        p {
            text-align: start;
            font-size: .8rem;
            color: #ddd;
        }
    }
    a:hover {
        filter:brightness(1.1);
        box-shadow: 0 6px 6px 0 var(--shadow);
    }
}

main.post {
    padding: 0 1rem;
    text-align: start;
    
    a.return {
        text-decoration: none;
    }
    h1 {
        margin: 0;
    }

    div.content {
        overflow-wrap: break-word;
        
        video, img {
            width: 100%;
            height: auto;
            border-radius: var(--rounding);
        }
        
        pre {
            border-radius: var(--rounding);
            padding: .2rem .3rem;
        }
        /*
        code {
            background-color:#24292e;
            color:#e1e4e8;
        }
        */
        
        details summary {
            cursor: pointer;
            
            * {
                display: inline;
                vertical-align: middle;
            }
        }
        details summary::marker {
            color: pink;
        }
    }
}


div.properties {
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    
    p {
        border-radius: var(--rounding);
        padding: .3rem .5rem;
        margin: 0;
    }
    p.date {
        text-wrap: nowrap;
    }
}

#blog {
    justify-content: center;
    margin-top: .8rem;
    * {
        background-color: var(--bg);
    }
    p.date {
        color: #999;
    }
    p.tags {
        color: #bbb;
    }
}

#post {
    margin: .5rem 0;
    * {
        background-color: var(--bg-lighter);
    }
    p {
        color: #ddd;
    }
}


hr {
    margin: 0;
}