---
import "../styles/global.css"
const {title} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/logo.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>catboys.dev | {title}</title>

        <nav>
            <div class="name">
                <img src="/logo.png">
                <h1>catboys.dev</h1>
            </div>

            <div class="navigation">
                <a href="/">About Me</a>
                <a href="/projects/">Projects</a>
                <a href="/blog/">Blog</a>
            </div>
        </nav>
	</head>

	<body>
        <slot/>
	</body>
</html>